{% extends 'health_dash/base.html' %}
{% load static%}
{% block content %}
<style>

.border {
    padding: 6px 8px;
    border-style: groove;
    border-radius: 5px;
    margin:20px;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.table{
  border-collapse: collapse;
  padding: 50px;
  font-weight: bold;

  
  /* background:rgba(191, 149, 233, 0.473); */

}

/* css to customize Leaflet default styles  */
.leaflet-popup-content-wrapper {
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

.leaflet-popup-content{
    font-weight: bold;
}

</style>

<div id="side-bar" style="background-color: rgba(255, 255, 255);">                <!-- side-bar container -->

<div class="text-center"> Enter data</div>

</div>
<script>

</script>

{% endblock %}