{% extends 'health_dash/base.html' %}
{% load static%}
{% block content %}
<style>

table, th, td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
th {
    font-weight:bold;
}
tr:hover {
    background-color: #c9dbe6;
}
#checkboxes {
  display: none;
  /* border: 1px #dadada solid; */
}

#checkboxes label {
  display: block;
  text-align: left;
  margin: 10px;
}

/* #checkboxes label:hover {
  background-color: #1e90ff;
} */

.btn{
    margin:10px;
}
.border {
    padding: 6px 8px;
    border-style: groove;
    border-radius: 5px;
    margin:20px;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.table{
  border-collapse: collapse;
  padding: 50px;
  font-weight: bold;

  
  /* background:rgba(191, 149, 233, 0.473); */

}

/* css to customize Leaflet default styles  */
.leaflet-popup-content-wrapper {
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

.leaflet-popup-content{
    font-weight: bold;
}


</style>

<div id="side-bar" style="background-color: rgba(255, 255, 255);">                <!-- side-bar container -->
    
    
  <div class="mobileShow">
   
    <div style="text-align: center"> 
        <button style="display: inline-block ;position: relative; background: #000; opacity: 0.60;" id="closebutton" name="closebutton" class="btn btn-secondary"><span class="fa fa-bars"></span></button> 
    </div>

 </div>   
    <div class="border">
        <table>
        <tr><h5>Indian Admin Boundaries</h5></tr>
        <div class="text-center">
            <div class="checkbox" id="boundary">
              <tr><tb>  <label><input type="checkbox" value="{state}" onchange="getBoundary(this)"></tb><tb><span> State </span></label></tb> </tr>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="{district}" onchange="getBoundary(this)"><span> District </span></label>
              </div>
             <!--  <div class="checkbox">
                <label><input type="checkbox" value="{marhadem}" onchange="getBoundary(this)"><span> Road Network </span></label>
              </div> -->
             <!--  <div class="checkbox disabled">
                <label><input type="checkbox" value="taluka" disabled>Taluka</label>
              </div>
              <div class="checkbox disabled">
                <label><input type="checkbox" value="village" disabled>Village</label>
              </div> -->
        </div>
     </table>   
    </div>
    <div class="tooltips" title="Please select the State">
        <select class='form-control' id="indstate" name="indstate">
            <option value="All">Select State</option>
            <optgroup label="States"> 
              <option value="Maharashtra" onclick="mymap.setView(new L.LatLng(19.7515,75.7139),7);"; >Maharashtra</option>

                <option value="" disabled>Andhra Pradesh</option>
                <option value="" disabled>Arunachal Pradesh</option>
                 <option value="" disabled>Assam </option>
                <option value="" disabled>Bihar</option>
                <option value="" disabled>Chhattisgarh</option>
                <option value="" disabled>Goa</option>
                <option value="" disabled>Gujarat</option>
                <option value="" disabled>Haryana</option>
                <option value="" disabled>Himachal Pradesh</option>
                <option value="" disabled>Jharkhan</option>
                <option value="" disabled>Karnataka</option>
                <option value="" disabled>Kerala</option>
                <option value="" disabled>Madhya Pradesh</option>
              
                <option value="" disabled>Manipur</option>
                <option value="" disabled>Meghalya</option>
                <option value="" disabled>Mizoram</option>
                <option value="" disabled>Nagaland</option>
           
  
                <option value="" disabled>Odisha</option>
                <option value="" disabled>Punjab</option>
                <option value="" disabled>Rajasthan</option>
                <option value="" disabled>Sikkim</option>
                <option value="" disabled>Tamil Nadu</option>
                <option value="" disabled>Telangana</option>
           
  
                <option value="" disabled>Tripura</option>
                <option value="" disabled>Uttar Pradesh</option>
                <option value="" disabled>Uttrakhand</option>
                <option value="" disabled>West Bengal</option>
            <optgroup label="Union Territories"> 

                <option value="" disabled>Andaman and Nicobar Islands</option>
                <option value="" disabled>Chandigarh</option>
                <option value="" disabled>Dadra and Nagar Haveli and Daman and Diu</option>
                <option value="" disabled>National Capital Territory of Delhi</option>
                <option value="" disabled>Jammu & Kashmir</option>
                <option value="" disabled>Ladakh</option>
                <option value="" disabled>Lakshadweep</option>
                <option value="" disabled>Puducherry</option>
           
    
          </select> 
     </div>  
<hr>
<div id="side-bar" style="background-color: rgba(255, 255, 255);">                <!-- side-bar container -->
    <div class="border">
        <table>
        <tr><h5>Selected State:Related Data</h5></tr>
        <div class="text-center">
            <div class="checkbox" id="stboun">
              <tr><tb>  <label><input type="checkbox" value="{mahadem}" onchange="getBoundaryst(this)"></tb><tb><span> Demography </span></label></tb> </tr>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="{maharoad}" onchange="getBoundaryst(this)"><span> Road Network </span></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="{mahaschool}" onchange="getBoundaryst(this)"><span> Schools (UDISE 16-17) </span></label>
              </div>
        </div>
     </table>   
    </div>
    <div class="tooltips" title="Please select the District">
        <select class='form-control' id="district" name="district">
            <option value="All">Select Maharashtra District</option>
            <!-- <optgroup label="Vidarbh(East)"> -->
                <option value="Akola">Akola</option>
                <option value="Amravati">Amrawati</option>
                 <option value="Buldana">Buldana</option>
                <option value="Yavatmal">Yavatmal</option>
                <option value="Washim">Washim</option>
                <option value="Aurangabad">Aurangabad</option>
                <option value="Beed">Beed</option>
                <option value="Jalna">Jalna</option>
                <option value="Osmanabad">Osmanabad</option>
                <option value="Nanded">Nanded</option>
                <option value="Latur">Latur</option>
                <option value="Parbhani">Parbhani</option>
                <option value="Hingoli">Hingoli</option>
                <option value="Mumbai City">Mumbai City</option>
                <option value="Mumbai Suburban">Mumbai Suburban</option>
                <option value="Thane">Thane</option>
                <option value="Palghar">Palghar</option>
                <option value="Raigad">Raigad</option>
                <option value="Ratnagiri">Ratnagiri</option>
                <option value="Sindhudurg">Sindhudurg</option>
           
  
                <option value="Bhandara">Bhandara</option>
                <option value="Gadchiroli">Gadchiroli</option>
                <option value="Chandrapur">Chandrapur</option>
                <option value="Gondia">Gondia</option>
                <option value="Nagpur">Nagpur</option>
                <option value="Wardha">Wardha</option>
           
  
                <option value="Ahmadnagar">Ahmednagar</option>
                <option value="Dhule">Dhule</option>
                <option value="Jalgaon">Jalgaon</option>
                <option value="Nandurbar">Nandurbar</option>
                <option value="Nashik">Nashik</option>
           
  
          
                <option value="Kolhapur">Kolhapur</option>
                <option value="Pune">Pune</option>
                <option value="Sangli">Sangli</option>
                <option value="Satara">Satara</option>
                <option value="Solapur">Solapur</option>
    
          </select> 
     </div>  

     <hr>
     <div class="text-center">
       

        <form id="projectList" class='border'>
            <h5>Explore Health Care</h5>
             <form>
              <div class="multiselect">
                <div class="selectBox" onclick="showCheckboxes()">
                    <button type="button" class="btn btn-outline-dark">Select Health Facilities</button>
                    <!-- <option>Select Health Facilities</option> -->
                  <div class="overSelect"></div>
                </div>

                <div id="checkboxes">
                  <div id="ru" value="ru">Rural-Census 2011
                    <label for="one">
                      <input type="checkbox" id="val" value="{CHC}" name='Rural' onchange="GetSelectedfac(this)"/>CHC</label>
                    <label for="two">
                      <input type="checkbox" id="phs" value="{PHC}" name='Rural' onchange="GetSelectedfac(this)"/>PHC</label>
                  </div>  
                  <div id="ur" value="ur">Urban - Census 2011  
                    <label for="three">
                      <input type="checkbox" id="allo"  value="{Allo}" onchange="GetSelectedfac(this)"/>Allopathy Hospital</label>
                    <label for="three">
                      <input type="checkbox" id="alt" value="{Alt}" onchange="GetSelectedfac(this)"/>Alternate Hospital</label>
                  </div><hr>
                  <div id="kobo" value="kobo">Health Facilities(Crowd Sourced)
                  <label for="three">
                    <input type="checkbox" value="hospital" onchange="toggleKoboFacility(this)"/>Hospital</label>
                    <label for="three">
                    <input type="checkbox" value="subcenter" onchange="toggleKoboFacility(this)"/>Sub center</label>
                    <label for="three">
                    <input type="checkbox" value="mhu" onchange="toggleKoboFacility(this)"/>Mobile Health Unit</label> 
                    <label for="three">
                    <input type="checkbox" value="phc" onchange="toggleKoboFacility(this)"/>Primary Health Unit</label>   
                    <label for="three">
                    <input type="checkbox" value="clinic" onchange="toggleKoboFacility(this)"/>Clinic</label>   
                    <label for="three">
                    <input type="checkbox" value="phu" onchange="toggleKoboFacility(this)"/>Primary Health Units</label>   
                    <label for="three">
                    <input type="checkbox" value="ashu" onchange="toggleKoboFacility(this)"/>Ashram School Health Units</label>   
                    <label for="three">
                    <input type="checkbox" value="mobmedu" onchange="toggleKoboFacility(this)"/>Mobile Medical Units</label>   
                    <label for="three">
                    <input type="checkbox" value="hfwi" onchange="toggleKoboFacility(this)"/>Health and family welfare institute</label>   
                    <label for="three">
                    <input type="checkbox" value="mhi" onchange="toggleKoboFacility(this)"/>Mental Health Institute</label>   
                    <label for="three">
                    <input type="checkbox" value="dc" onchange="toggleKoboFacility(this)"/>Diagnostic Center</label>   
                    <label for="three">
                    <input type="checkbox" value="phrmcy" onchange="toggleKoboFacility(this)"/>Pharmacy</label>   
                    <label for="three">
                    <input type="checkbox" value="optical" onchange="toggleKoboFacility(this)"/>Optical Shop</label>   
                    <label for="three">
                    <input type="checkbox" value="delvry" onchange="toggleKoboFacility(this)"/>Delivery Center</label>   
                    <label for="three">
                    <input type="checkbox" value="dropin" onchange="toggleKoboFacility(this)"/>Drop In Centre</label>   
                    <label for="three">
                    <input type="checkbox" value="dspnsry" onchange="toggleKoboFacility(this)"/>Dispensary</label>   
                    <label for="three">
                    <input type="checkbox" value="othr" onchange="toggleKoboFacility(this)"/>Other</label>
                    <label for="three">                                                                                                                                                                                
                 </div>   
                         
                </div>
              </div>
           
              <!-- <button type="button" class="btn btn-primary" onclick = "GetSelected()">Display</button>
 -->              <div id="side-bar" style="background-color: rgba(255, 255, 255);">                <!-- side-bar container -->
    <div class="border">
        <table>
        <!-- <tr><h5>Selected State:Related Data</h5></tr> -->
        <div class="text-center">
            <div class="checkbox" id="stboun">
            <tr><h5>Highlight Urban Boundaries</h5></tr>  
              <!-- <tr><tb>  <label><input type="checkbox" value="{mahadem}" onchange="getBoundaryst(this)"></tb><tb><span> Wards</span></label></tb> -->
                <tb>  <label><input type="checkbox" value="{mahatown}" onchange="getBoundaryru(this)"></tb><tb><span> Town</span></label></tb>
               </tr>
              </div>
              <div class="checkbox">
                <tr><h5>Highlight Rural Boundaries</h5></tr>  
  
               <tr> <label><input type="checkbox" value="{maharural}" onchange="getBoundaryru(this)"><span> Villages</span></label></tr>
              </div>
              <!-- <div class="checkbox">
                <label><input type="checkbox" value="{mahaschool}" onchange="getBoundaryst(this)"><span> Schools (UDISE 16-17) </span></label>
              </div> -->
        </div>
     </table>   
    </div>
        </form>
 
        

         </form> 
         <!--   -->
         <div class="border">
            <button type="button" class="btn btn-primary" id='locate'>Your Location</button>
            <button type="button" class="btn btn-primary disable" id='setlocation'>Set Location</button>
            <button type="button" class="btn btn-primary" id='find-nearest'>Find Nearest Facility</button>
         </div>

         <div class="border row">
            <input type="text" placeholder = "Enter facility Name" class="form-control col-7" id="usr">
            <button type="button" class="btn btn-primary col" onclick = "searchFacilities()">Search Facility</button>
         </div>
     </div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



<script>

 var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}   

function getBoundary(obj) {
    let boundary = obj.value;
    if($(obj).is(":checked")){ 
        if(boundary == "{state}")
            putWMS("geonode:states_in_india");
        else if(boundary== "{district}")
            putWMS("geonode:all_india_districts_27march2020");
        else
            putWMS("geonode:maha_demography_with_mumbai");
    }else{
        if(boundary== "{state}")
            removeWMS("geonode:states_in_india");
        else if(boundary== "{district}")
            removeWMS("geonode:all_india_districts_27march2020");
        else 
            removeWMS("geonode:maha_demography_with_mumbai");
    }
}

function getBoundaryst(obj) {
    let boundary = obj.value;
    if($(obj).is(":checked")){ 
        if(boundary == "{mahadem}")
            putWMS("geonode:maha_demography_with_mumbai");
        else if(boundary== "{maharoad}")
            putWMS("geonode:osm_highways");
        else
            putWMS("geonode:school_16_17_11april");
    }else{
        if(boundary== "{mahadem}")
            removeWMS("geonode:maha_demography_with_mumbai");
        else if(boundary== "{maharoad}")
            removeWMS("geonode:osm_highways");
        else 
            removeWMS("geonode:school_16_17_11april");
    }
}


function getBoundaryru(obj) {
    let boundary = obj.value;
    if($(obj).is(":checked")){ 
        if(boundary == "{mahatown}")
            putWMSru("geonode:TownHealth0");
        else if(boundary== "{maharural}")
            putWMSru("geonode:maha_village_polygon_29mar");
    
    }else{
        if(boundary== "{mahatown}")
            removeWMS("geonode:TownHealth0");
        else if(boundary== "{maharural}")
            removeWMS("geonode:maha_village_polygon_29mar");
   
    };
    

}

function GetSelectedfac(obj) {
    let fac = obj.value;
    if($(obj).is(":checked")){ 
        if(fac == "{CHC}")
            putWFSFacility("CHC");
        else if(fac== "{PHC}")
            putWFSFacility("PHC");
       else if(fac=='{Allo}')
            putWFSFacility("Allo"); 
            
       else if(fac=='{Alt}')
            putWFSFacility("Alt");   
    
    }else{
        if(fac === "{CHC}")
            removeWFSfac("CHC");
        else if(fac === "{PHC}")
            removeWFSfac("PHC");
        else if(fac=='{Allo}')
            removeWFSfac("Allo"); 
            
       else if(fac=='{Alt}')
            removeWFSfac("Alt"); 
    };
}

function toggleKoboFacility(clickedCheckBox){
    let value = clickedCheckBox.value;
    if($(clickedCheckBox).is(':checked')){
        putKoboHealthFacity(value);
    }else{
        removeKoboHealthFacity(value);

    }
}

function removeKoboHealthFacity(facility){
        mymap.removeLayer(activeKoboHealthFacity[facility]);
};

function removeWFSfac(facility){
        mymap.removeLayer(activatedHealthFacility[facility]);
};

// ***********FIND NEAREST FACILITY FEATURE
let healthFacility,
    $locate = $('#locate'),
    $body = $('body'),
    $findNearest = $('#find-nearest'),
    $setlocation = $('#setlocation')

let currentPos = null;
let marker = null;
let oldMarker = null;
let facilityLayer = new L.featureGroup();
let oldLayer = null;

// YOUR LOCATION BUTTON
$locate.on('click', function(e) {
    if(oldMarker){
        mymap.removeLayer(oldMarker);
        oldMarker = null;
    }
    if(oldLayer){
        mymap.removeLayer(oldLayer);
        oldLayer = null;
        facilityLayer = new L.featureGroup();
    }
        // $status.html('finding your location');
    if (!navigator.geolocation){
        alert("<p>Sorry, your browser does not support Geolocation</p>");
        return;
    }
    $body.removeClass('loaded');
    navigator.geolocation.getCurrentPosition(success, error);
});   

// SET LOCATION BUTTON
$setlocation.on('click',function(e){
    mymap.on('click', function(e) {
        currentPos = [e.latlng.lat,e.latlng.lng];
        if(oldMarker){
            mymap.removeLayer(oldMarker);
            oldMarker = null;
        }
        if(oldLayer){
            mymap.removeLayer(oldLayer);
            oldLayer = null;
            facilityLayer = new L.featureGroup();
        }
        marker = new L.marker(currentPos).addTo(mymap);
        oldMarker = marker;
    });
})

// FIND NEAREST BUTTON
$findNearest.on('click', function(e) {
            queryFeatures(currentPos, 1);
});

// IF LOCATION FETCH BY BROWSER SUCCESS
function success(position) {
    $body.addClass('loaded');
    currentPos = [position.coords.latitude,position.coords.longitude];
    mymap.setView(currentPos, 13);
    marker = L.marker(currentPos)
                        .addTo(mymap)
                        .bindTooltip("Your Location")
                        .openTooltip();
    oldMarker = marker;

};
// IF error IN FETCHING LOCATION
function error() {
    alert("Unable to retrieve your location");
};
// LOOP THROUGH EACH POINT AND COMPARE WITH SELECTED OR CURRENT USER LOCATION
function queryFeatures(currentPos, numResults) {
    var distances = [];
    healthFacility.eachLayer(function(l) {
        var distance = L.latLng(currentPos).distanceTo(l.getLatLng())/1000;
        distances.push(distance);
    });
    distances.sort(function(a, b) {
        return a - b;
    });

    healthFacility.eachLayer(function(l) {
        var distance = L.latLng(currentPos).distanceTo(l.getLatLng())/1000;
        if(distance < distances[numResults]) {
            l.bindTooltip(distance.toLocaleString() + ' km from current location.');
            L.polyline([currentPos, l.getLatLng()], {
                color : 'blue',
                weight : 4,
                opacity: .5,
            }).addTo(facilityLayer);
        }
    });
    oldLayer = facilityLayer;
    mymap.flyToBounds(facilityLayer.getBounds(), {duration : 3, easeLinearity: .1 });
    mymap.on('zoomend', function() {
        mymap.addLayer(facilityLayer);
    })
}

// *****************
  let listState = {'Maharashtra':['Maharashtra',19.7515,75.7139]}

    let listDistrict = {'Akola':['Akola',20.7002, 77.0082],'Amravati':['Amravati',20.9374,77.7796],
    'Buldana':['Buldana',20.4561,76.3637],'Yavatmal':['Yavatmal',20.3888,78.1204],'Washim':['Washim',20.139,77.1025],
    'Aurangabad':['Aurangabad',19.8762,75.3433],'Beed':['Beed',18.9891,75.7601],'Jalna':['Jalna',19.8297,75.88],
    'Osmanabad':['Osmanabad',18.207,76.1784],'Nanded':['Nanded',19.1383,77.321],'Latur':['Latur',18.4088,76.5604],
    'Parbhani':['Parbhani',19.2644,76.6413],'Hingoli':['Hingoli',19.5781,77.1025],'Thane':['Thane',19.2183,72.9781],
    'Palghar':['Palghar',19.6936,72.7655],'Raigad':['Raigad',18.5158,73.1822],'Ratnagiri':['Ratnagiri',16.9902,73.312],'Sindhudurg':['Sindhudurg',16.3492,73.5594],'Bhandara':['Bhandara',21.0736,79.8297],'Mumbai City':['Mumbai City',18.942,72.816], 'Mumbai Suburban':['Mumbai Suburban',19.118,72.905],
    'Gadchiroli':['Gadchiroli',19.4969,80.2767],'Chandrapur':['Chandrapur',19.9615,79.2961],
    'Gondia':['Gondia',21.4624,80.221],'Nagpur':['Nagpur',21.1458,79.0882],'Wardha':['Wardha',20.7453,78.6022],
    'Ahmadnagar':['Ahmadnagar',19.0948,74.748],'Dhule':['Dhule',20.9042,74.7749],'Jalgaon':['Jalgaon',21.0077,75.5626],
    'Nandurbar':['Nandurbar',21.7469,74.124],'Nashik':['Nashik',19.9975,73.7898],'Kolhapur':['Kolhapur',16.705,74.2433],
    'Pune':['Pune',18.5204,73.8567],'Sangli':['Sangli',16.8524,74.5815],'Satara':['Satara',17.6805,74.0183],
    'Solapur':['Solapur',17.6599,74.9064]}
    
    let listFacility= {'CHC':'chc_num','PHC':'phc_num','Allo':'h_allo_tot','Alt':'h_alt_tot'}
    

    let url;
    
    function style(feature) {
    return {
        fillColor: "#0000",
        weight: 2,
        opacity: 1,
        color: 'black',
        // dashArray: '3',
        fillOpacity: 0.7
    };
}
    const domain = ['https://makerghat.urbansciences.in/','http://localhost/'];
    var rootUrl = domain[0] + 'geoserver/geonode/ows';

    var defaultParameters = {
        service: 'WFS',
        version: '1.0.0',
        request: 'GetFeature',
        outputFormat: 'json'
        };

    var info = L.control();
    var attribute_table = L.control({position: 'bottomright'});  
    var LayerList = [];
    var pointLayerList = [];
    var newLayerList = [];
    var faciLayerList=[];
  

    var searchControl;

    $('#district').on('click',function(){
        clear_layer();
        clearpoint_layer();

        // let district = document.getElementById('district').value;

        putWMSLayer();
         // tempParameter = defaultParameters;
         // tempParameter.typeName = 'geonode:maha_taluka_15apr2020'; 
         //tempParameter.propertyName="the_geom,ipname";
         // var aspiD = document.getElementById('district').value;
         // var distLayerLatLong= listDistrict[aspiD];
        // tempParameter.cql_filter = "distname='"+distLayerLatLong[0]+"'";
        // mymap.setView([distLayerLatLong[1],distLayerLatLong[2]],9);

        // switch(district){
        // case 'Akola': url = "https://makerghat.urbansciences.in/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&outputFormat=json&typename=geonode:maha_blocks_30mar&cql_filter=dtname='Akola'&propertyName=the_geom";break;
        // case 'Amravati': url = "https://makerghat.urbansciences.in/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&outputFormat=json&typename=geonode:maha_blocks_30mar&cql_filter=dtname='Amravati'&propertyName=the_geom";break;
        // }

        //mymap.spin(true,{lines: 15, length: 1, width: 50, scale: 200,radius: 200, color: "grey"});
    //     fetch(url).then(
    //     function(response) {
    //     if (response.status !== 200) {
    //         console.log('Looks like there was a problem. Status Code: ' +
    //         response.status);
    //         return;
    //     }
    //     response.json().then(function(geojsonData) {
    //         console.log(geojsonData.features);
    //         mymap.setView([lat, long], 9);
    //         geojson = L.geoJson(geojsonData.features, {
    //         // style : style,
    //         // onEachFeature: onEachFeature
    //     }).addTo(mymap);
    //         // LayerList.push(geojson);
    //          mymap.spin(false);
    //     });


    //     }
    // )
    // .catch(function(err) {
    //     console.log('Fetch Error :-S', err);
    // });

    //     mymap.spin(true,{lines: 15, length: 1, width: 50, scale: 200,radius: 200, color: "grey"});
    //     fetch(url).then(
    //     function(response) {
    //     if (response.status !== 200) {
    //         console.log('Looks like there was a problem. Status Code: ' +
    //         response.status);
    //         return;
    //     }
    //     response.json().then(function(geojsonData) {
    //         console.log(geojsonData.features);
    //         mymap.setView([lat, long], 9);
    //         geojson = L.geoJson(geojsonData.features, {
    //         style : style
    //         // onEachFeature: onEachFeature
    //     }).addTo(mymap);
    //         // LayerList.push(geojson);
    //          mymap.spin(false);
    //     });


    //     }
    // )
    // .catch(function(err) {
    //     console.log('Fetch Error :-S', err);
    // });


    // blockLayer = new L.tileLayer.wms('https://makerghat.urbansciences.in/geoserver/geonode/ows', {
    //     layers: 'geonode:maha_map_06feb2020',
    //     format: 'image/png',
    //     version: '1.3.0',
    //     transparent: true,
    // });
    // console.log(blockLayer);
    // blockLayer.addTo(mymap);


    })


$('#indstate').on('click',function(){
        clear_layer();
        clearpoint_layer();

        let indstate = document.getElementById('indstate').value;

        putWMSLayerst();
       

        //mymap.spin(true,{lines: 15, length: 1, width: 50, scale: 200,radius: 200, color: "grey"});
     })



function onEachFeature(feature, layer) {
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        //click: zoomToFeature,
    });

    layer.bindTooltip("<div style = 'text-transform: capitalize'>"+feature.properties.village_na+"</div>",{permanent: true, 
   direction: "center",
   className: "my-labels"});
   

}
function highlightFeature(e) {
    var layer = e.target;

    layer.setStyle({
        weight: 5        
    });
    info.update(layer.feature.properties);
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
        layer.bringToFront();
    }
}

function resetHighlight(e) {
    geojson.resetStyle(e.target);
    info.update();
}


//this is for putting districts in drop down menu
function putWMSLayer(){
             var aspiD = document.getElementById('district').value;
             var distLayerLatLong= listDistrict[aspiD];
             //clear_layer();
             //console.log('kk',distLayerLatLong);
            var wms_layer = L.tileLayer.wms('https://makerghat.urbansciences.in/geoserver/wms',{
            layers: 'geonode:maha_taluka_15apr2020',
            format: 'image/png',
            transparent:'true',
            tiled:true,
           
            //opacity:0.5,
            // version: '1.3.0',
            cql_filter:"distname='"+distLayerLatLong[0]+"'",
            style:""});
            clear_layer();
            clearpoint_layer();
            wms_layer.addTo(mymap);
          mymap.setView([distLayerLatLong[1],distLayerLatLong[2]],9);

            //console.log(wms_layer);
            LayerList.push(wms_layer);
            // addWMSLegend(layer);
            

         }

function putWMSLayerst(){
             var indstate = document.getElementById('indstate').value;
             //console.log(indstate);
             var stLayerLatLong= listState[indstate];
            
            var wms_layer = L.tileLayer.wms('https://makerghat.urbansciences.in/geoserver/wms',{
            layers: 'geonode:states_in_india',
            format: 'image/png',
            transparent:'true',
            // version: '1.3.0',
            cql_filter: "state='"+stLayerLatLong[0]+"'",
            style:""});
            clear_layer();
            clearpoint_layer();
            wms_layer.addTo(mymap);

            LayerList.push(wms_layer);
            // addWMSLegend(layer);
            

         }
//this function is for state boundary
function putWMS(layer){
    var wms_layer = L.tileLayer.wms('https://makerghat.urbansciences.in/geoserver/wms',{
        layers: layer,
        format: 'image/png',
        transparent:'true',
    });
    wms_layer.addTo(mymap);
    newLayerList.push(wms_layer);
}


function putWMSru(layer){
  var aspiD = document.getElementById('district').value;
    var distLayerLatLong= listDistrict[aspiD];
             //clear_layer();
    console.log('kk',distLayerLatLong);
    let district= distLayerLatLong[0];
    if(layer=="geonode:TownHealth0")
      district=distLayerLatLong[0].toUpperCase();
    console.log(district);

    var wms_layer = L.tileLayer.wms('https://makerghat.urbansciences.in/geoserver/wms',{
        layers: layer,
        format: 'image/png',
        transparent:'true',
        cql_filter:"district_n='"+district+"'"
    });
    wms_layer.addTo(mymap);
    newLayerList.push(wms_layer);
    console.log(wms_layer);
}


function displayPolygon(param){
// clear_layer();

var parameters = L.Util.extend(param);
layer_url = rootUrl + L.Util.getParamString(parameters)
// console.log(layer_url);
//mymap.spin(true,{lines: 9, length: 2, width: 20, scale: 60,radius: 70, color: "grey"});

fetch(layer_url,{mode:'cors'})
.then(
    function(response) {
    if (response.status !== 200) {
        console.log('Looks like there was a problem. Status Code: ' +
        response.status);
        return;
    }

    // Examine the text in the response
    response.json().then(function(geojsonData) {
        // console.log(geojsonData)
        geojson = L.geoJson(geojsonData.features, {
        style : style,
        onEachFeature: onEachFeature
    }).addTo(mymap);
     clear_layer();
    if(typeof searchControl === 'undefined'){
                searchControl = addSearchControl(geojson,'ipname');
                mymap.addControl(searchControl);
          }
    mymap.spin(false);
    LayerList.push(geojson);

    });


    }
)
.catch(function(err) {
    console.log('Fetch Error :-S', err);
    
});

    
}
function clear_layer(){
    LayerList.forEach(layer => mymap.removeLayer(layer));
    
}

function clearpoint_layer(){
    //console.log(pointLayerList);
    pointLayerList.forEach(layer => mymap.removeLayer(layer));
    
}

function removeWMS(unchecked_layer){
    newLayerList.forEach((layer, index) => {
            if(layer.options.layers === unchecked_layer){
                mymap.removeLayer(layer);
                newLayerList.splice(index, 1);
            }
        });
}

function style(feature) {
    return {
        weight: 2,
        opacity: 1,
        color: "black",
        fillOpacity: 0
    };
}

function addSearchControl(layer,propertyName){
    var searchControl = new L.Control.Search({
    layer: layer,
    propertyName: 'ipname',
    marker: false,
    moveToLocation: function(latlng, title, mymap) {
        //mymap.fitBounds( latlng.layer.getBounds() );
        //console.log(latlng);
        var zoom = mymap.getBoundsZoom(latlng.layer.getBounds());
        mymap.setView(latlng, zoom); // access the zoom
    }
});
searchControl.on('search:locationfound', function(e) {
    e.layer.setStyle({fillColor: '#3f0', color: '#0f0'});
    if(e.layer._popup)
        e.layer.openPopup();

}).on('search:collapsed', function(e) {

    featuresLayer.eachLayer(function(layer) {   //restore feature color
        featuresLayer.resetStyle(layer);
    }); 
});

return searchControl;
}

L.Map.include({
    hasSearchControl: function () {
        return (this.searchControl) ? true : false;
    }
});


let activatedHealthFacility = {'CHC':{},'PHC':{},'Allo':{},'Alt':{}}
let activeKoboHealthFacity={'hospital':{},'other':{}}
function putKoboHealthFacity(facility){
    const base_url = 'https://makerghat.urbansciences.in/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&outputFormat=json&typename=geonode:maha_hospitals_28apr';
    const url = base_url + '&propertyName=the_geom,facltyname,facltytyp,address'
    let cql_url= url + `&cql_filter=${facility}=1`;

    function geojsonMarkerOptions(fac) {
        let circleProp = {radius: 4,fillColor: "#",color: "#000",weight: 1,opacity: 1,fillOpacity: 0.8};
        if(fac === 'hospital') circleProp['fillColor'] = 'olive'
        else if(fac === 'mhu') circleProp['fillColor'] = 'teal'
        else if(fac === 'subcenter') circleProp['fillColor'] = 'aqua'
        else if(fac === 'mhu') circleProp['fillColor'] = 'blueviolet'
        else if(fac === 'phc') circleProp['fillColor'] = 'crimson'
        else if(fac === 'clinic') circleProp['fillColor'] = 'darkcyan'
        else if(fac === 'phu') circleProp['fillColor'] = 'darkmagenta'
        else if(fac === 'ashu') circleProp['fillColor'] = 'gold'
        else if(fac === 'mobmedu') circleProp['fillColor'] = 'hotpink'
        else if(fac === 'hfwi') circleProp['fillColor'] = 'indigo'
        else if(fac === 'mhi') circleProp['fillColor'] = 'lightseagreen'
        else if(fac === 'dc') circleProp['fillColor'] = 'maroon'
        else if(fac === 'phrmcy') circleProp['fillColor'] = 'midnightblue'
        else if(fac === 'optical') circleProp['fillColor'] = 'orangered'
        else if(fac === 'delvry') circleProp['fillColor'] = 'palevioletred'
        else if(fac === 'dspnsry') circleProp['fillColor'] = 'peru'
        else if(fac === 'othr') circleProp['fillColor'] = 'purple'
       return circleProp
    };
    
    function onEachFeatureForPoint(feature, layer) {
        const unavailable = '-';
        const updateDate = "28 April 2020";
        layer.bindPopup(`<table class = 'popupclass'>
                        <tr><td>Name:</td><td> ${feature.properties.facltyname}</td></tr>
                        <tr><td>Type:</td><td> ${feature.properties.facltytyp}</td></tr>
                        <tr><td>Address:</td><td> ${feature.properties.address}</td></tr>
                        <tr><td>Management:</td><td> ${unavailable}</td></tr>
                        <tr><td>Food Arrangement:</td><td> ${unavailable}</td></tr>
                        <tr><td>Email ID:</td><td> ${unavailable}</td></tr>
                        <tr><td>Website:</td><td> ${unavailable}</td></tr>
                        <tr><td>Phone number:</td><td> ${unavailable}</td></tr>
                        <tr><td>Last updated:</td><td> ${updateDate}</td></tr>
                        </table>`) 
    }

    mymap.spin(true,{lines: 9, length: 2, width: 20, scale: 60,radius: 70, color: "grey"});
    fetch(cql_url).then(
        function(response) {
        if (response.status !== 200) {
            console.log('Looks like there was a problem. Status Code: ' +
            response.status);
            return;
        }
        response.json().then(function(geojsonData) {
            healthFacility = L.geoJson(geojsonData.features, {
                pointToLayer: function (feature, latlng) {
                            return L.circleMarker(latlng, geojsonMarkerOptions(facility));
                },onEachFeature:onEachFeatureForPoint,
            }).addTo(mymap);
            mymap.spin(false);
            activeKoboHealthFacity[facility] = healthFacility;
        });


    }).catch(function(err) {
            console.log('Fetch Error :-S', err);
    });

}
function putWFSFacility(facility) {

     var geojsonMarkerOptions = {
        radius: 6,
        fillColor: "#ff4800",
        color: "#000",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
    };

    var geojsonMarkerOptions2 = {
        radius: 4,
        fillColor: "#0004ff",
        color: "#000",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
    };

    var geojsonMarkerOptions3 = {
        radius:8,
        fillColor: "#a8325a",
        color: "#000",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
    };

    var geojsonMarkerOptions4 = {
        radius:5,
        fillColor: "#143d5e",
        color: "#000",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
    };


    const url = 'https://makerghat.urbansciences.in/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&outputFormat=json&typename=geonode:maha_village_health_centroid_29mar';
    const url2='https://makerghat.urbansciences.in/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&outputFormat=json&typename=geonode:townhealth_centroid_15apr';

    if(facility =='CHC')
        newurl= url + `&cql_filter=chc_num>0`;
    else if(facility=='PHC')
        newurl=url + `&cql_filter=phc_num>0`;
    else if(facility=='Allo')
        newurl=url2 + `&cql_filter=h_allo_tot>0`;
    else if(facility=='Alt')
        newurl=url2 + `&cql_filter=h_alt_tot>0`;


    function onEachFeatureForPoint(feature, layer) {
        if(facility === 'CHC'){
            layer.bindPopup(`<div class = 'text-center'>CHC<br>
                                Source: Census 2011<br>
                                Village Name: ${feature.properties.village_na}<br>
                                Distance Range: ${feature.properties.chc_distan}<br>
                                Doctors In Position :${feature.properties.chc_doc_in}<br>
                                Doctors Total Strength :${feature.properties.chc_doc_nu}<br>
                                Para Medical Staff Total Strength : ${feature.properties.chc_param_}<br>
                                Para Medical Staff In Position : ${feature.properties.chc_para_1}
                                </div>`) 
        }if(facility === 'PHC'){
            layer.bindPopup(`<div class = 'text-center'>PHC<br>
                                Source: Census 2011<br>
                                Village Name: ${feature.properties.village_na}<br>
                                Distance Range: ${feature.properties.phc_distan}<br>
                                Doctors In Position :${feature.properties.phc_doc_in}<br>
                                Doctors Total Strength :${feature.properties.phc_doc_nu}<br>
                                Para Medical Staff Total Strength : ${feature.properties.phc_param_}<br>
                                Para Medical Staff In Position : ${feature.properties.phc_para_1}fen
                                </div>`) 
        }
        if(facility === 'Allo'){
            layer.bindPopup(`<div class = 'text-center'>Allopathy Hospital<br>
                            Distance Range: ${feature.properties.h_allo_dst}<br>
                            Doctors In Position :${feature.properties.h_allo_din}<br>
                            Doctors Total Strength :${feature.properties.h_allo_doc}<br>
                            Total Beds :${feature.properties.h_allo_bed}<br>
                            Para Medical Staff Total Strength : ${feature.properties.h_allo_pm}<br>
                            Para Medical Staff In Position : ${feature.properties.h_allo_pin}
                            </div>`)
        }else if(facility === 'Alt'){
            layer.bindPopup(`<div class = 'text-center'>Alternate Hospital<br>
                Distance Range: ${feature.properties.h_alt_dst}<br>
                            Doctors In Position :${feature.properties.h_alt_din}<br>
                            Doctors Total Strength :${feature.properties.h_alt_doc}<br>
                            Total Beds :${feature.properties.h_alt_bed}<br>
                            Para Medical Staff Total Strength : ${feature.properties.h_alt_pm}<br>
                            Para Medical Staff In Position : ${feature.properties.h_alt_pin}
                            </div>`) 
        }
    
    }
    fetch(newurl).then(
        function(response) {
        if (response.status !== 200) {
            console.log('Looks like there was a problem. Status Code: ' +
            response.status);
            return;
        }
        response.json().then(function(geojsonData) {
            console.log(geojsonData.features);
            healthFacility = L.geoJson(geojsonData.features, {
                pointToLayer: function (feature, latlng) {
                    if(facility === 'CHC')
                            return L.circleMarker(latlng, geojsonMarkerOptions);
                    else if(facility === 'PHC')
                        return L.circleMarker(latlng, geojsonMarkerOptions2);
                    else if(facility === 'Allo')
                        return L.circleMarker(latlng, geojsonMarkerOptions3);
                    else if(facility === 'Alt')
                        return L.circleMarker(latlng, geojsonMarkerOptions4);  
                },onEachFeature:onEachFeatureForPoint,
            }).addTo(mymap);
            activatedHealthFacility[facility] = healthFacility;
        });


    }).catch(function(err) {
            console.log('Fetch Error :-S', err);
    });
    //})
    };         

</script>

{% endblock %}